<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.soulgame.sgsdk.tgsdklib">

    <uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<uses-permission android:name="android.permission.READ_PHONE_STATE" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
<uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
<uses-permission android:name="android.permission.GET_TASKS" />
<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />


    <application
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:hardwareAccelerated="true">

        <activity android:name="com.soulgame.sgsdk.tgsdklib.unity.TGSDKUnityActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>



        

        
        <!-- Lanmei -->
        <activity
            android:name="com.md.activity.InterstitialVideoProxyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.md.activity.StimulateVideoProxyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.md.activity.ApkDetailsInfoProxyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.md.activity.ShowImgActivityProxy"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.md.activity.CommonProxyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.md.activity.QuestionnaireProxyActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen" />

        <service
            android:name="com.md.service.LogicService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.adroid.SERVICE" />
            </intent-filter>
        </service>

        <receiver android:name="com.md.receiver.PackageReceiver">
            <intent-filter>

                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.md.receiver.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />

            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.md.kernel.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- TG CP -->
        <activity android:name="com.soulgame.sgsdk.adsdk.TGCPADActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity android:name="com.soulgame.sgsdk.tgsdklib.testsuite.TestSuiteActivity"></activity>
        <!-- TG ADX -->
        <activity
            android:name="com.yomob.tgsdklib.TGVideoActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.yomob.tgsdklib.TGWebActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Mobvista -->
        <activity
        android:name="com.mobvista.msdk.reward.player.MVRewardVideoActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <!-- Yumi -->
        <activity android:name="com.yumi.android.sdk.ads.activity.YumiBrowserActivity" />

        <receiver android:name="com.yumi.android.sdk.ads.self.module.receiver.DownloadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.yumi.android.sdk.ads.self.module.receiver.InstallCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.yumi.android.sdk.ads.selfmedia.module.receiver.DownloadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.yumi.android.sdk.ads.selfmedia.module.receiver.InstallCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service android:name="com.yumi.android.sdk.ads.service.YumiAdsEventService" />
        <service android:name="com.yumi.android.sdk.ads.self.module.service.OpenPkgService" />
        <service android:name="com.yumi.android.sdk.ads.self.module.service.ADEventReport" />
        <service android:name="com.yumi.android.sdk.ads.selfmedia.module.service.OpenPkgService" />
        <service android:name="com.yumi.android.sdk.ads.selfmedia.module.service.ADEventReport" />

        <activity
            android:name="com.yumi.android.sdk.ads.selfmedia.activity.YumiFullScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity android:name="com.yumi.android.sdk.ads.mediation.activity.MediationTestActivity" />

        <!-- DianJoy -->
        <service android:name="com.dianjoy.video.DianViewService"/>
        <activity
            android:name="com.dianjoy.video.DianViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name="com.dianjoy.video.DianViewAdBrowser"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>

        <!-- Vungle -->
        <activity android:name="com.vungle.publisher.VideoFullScreenAdActivity"
        android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.vungle.publisher.MraidFullScreenAdActivity"
        android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
        android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:name="com.vungle.publisher.FlexViewAdActivity"
        android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
        android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>

        <!-- OneWay -->
        <activity
            android:name="mobi.oneway.sdk.AdShowActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />



    </application>
</manifest>
